In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [4]:
promedio_edad = df['Age'].mean()
promedio_edad

16.468645484949832

In [5]:
valores_nulos_por_columna = df.isnull().sum()
valores_nulos_por_columna

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [6]:
genero_mas_repetido =df['Gender'].mode()
genero_mas_repetido

0    1
Name: Gender, dtype: int64

In [7]:
hombres = (df['Gender']==0).sum()
hombres

1170

In [9]:
mujeres = (df['Gender']==1).sum()
mujeres

1222

In [11]:
deporte = (df['Sports']==0).sum()
print("Estudiantes que no practican deporte")
deporte

Estudiantes que no practican deporte

1666

In [12]:
mujeres_que_practican_deporte = df.groupby('Gender')['Sports'].sum()
mujeres_que_practican_deporte

Gender
0    360
1    366
Name: Sports, dtype: int64

In [13]:
personas_que_van_a_tutoria = (df['Tutoring']==1).sum()
print("Estudiantes que van a tutorias")
personas_que_van_a_tutoria

Estudiantes que van a tutorias

721

In [14]:
personas_que_van_a_tutoria_por_genero= df.groupby('Gender')['Tutoring'].sum()
print("Estudiantes que van a tutorias por genero")
personas_que_van_a_tutoria_por_genero

Estudiantes que van a tutorias por genero

Gender
0    370
1    351
Name: Tutoring, dtype: int64

In [16]:
Tiempo_de_estudio_minimo_y_maximo = df['StudyTimeWeekly'].min()
Tiempo_de_estudio_minimo_y_maximo

0.001056538645936

In [17]:
Tiempo_de_estudio_minimo_y_maximo=df['StudyTimeWeekly'].max()
Tiempo_de_estudio_minimo_y_maximo

19.97809399526153